@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Unbounded:wght@300&display=swap");
.fuenteTitulo{
    font-family: "Unbounded", cursive;
    font-style: light;
    font-weight: 300;
}
.fuenteRegular{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}
a{
    color: black;
}
nav{
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 25px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div{
    width: 5%;
    margin: 0 1em;
}
nav div img{
    width: 100%;
}
#servicios{
    width: 60%;
    margin: 4em auto;
    text-align: center;
}
.habitacion{
    border: solid 0.1em rgb(82, 79, 79);
    margin: 0 4em 2em 4em;
    display: flex;
}
.habitacion img{
    width: 50%;
    padding-right: 2em;
}
.habitacion h2{
    margin: 2em 0;
}
.habitacion div{
    display: flex;
    flex-direction: column;
}
#formulario{
    margin: 4em 8em;
    text-align: center;
}
#formulario h3{
    margin-bottom: 1em;
    text-align: center;
}
#alertFecha{
    width: fit-content;
}
#formulario label{
    text-align: left;
}
#reservaHecha, #datosReserva, #reservaCancelada{
    padding: 0;
    text-align: left;
}

@media screen and (max-width: 767px){
    nav{
        justify-content: left;
    }
    nav div img{
        width: 200%;
    }
    #servicios{
        width: 80%;
    }
    .habitacion{
        flex-direction: column;
        margin: 0 2em 2em 2em;
    }
    .habitacion img{
        width: 100%;
        padding: 0;
    }
    .habitacion div{
        margin: 1em;
    }
    .habitacion h2{
        margin: 1em 0;
    }
    #formulario{
        margin: 4em 2em;
    }
}